SA.VisualizationSystem/Service References/StatesReference/states1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StrategyServices.States" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StrategyServices.States" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1/WCF/states.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfStateData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StateData" nillable="true" type="tns:StateData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStateData" nillable="true" type="tns:ArrayOfStateData" />
  <xs:complexType name="StateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryCurrencyUnit" type="xs:double" />
      <xs:element minOccurs="0" name="CountryDevelopmentCoef" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LicensesExcises" type="xs:double" />
      <xs:element minOccurs="0" name="NewsInfluenceCoef" type="xs:double" />
      <xs:element minOccurs="0" name="StatesNames" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StatesNamesList" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateData" nillable="true" type="tns:StateData" />
</xs:schema>