SA.VisualizationSystem/Service References/StatesReference/StateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1/WCF/states.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1/WCF/states.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1/WCF/states.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StrategyServices.States" />
      <xsd:import schemaLocation="http://127.0.0.1/WCF/states.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStateService_GetStatesByLanguage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatesByLanguage" />
  </wsdl:message>
  <wsdl:message name="IStateService_GetStatesByLanguage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatesByLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="IStateService_GetStates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStates" />
  </wsdl:message>
  <wsdl:message name="IStateService_GetStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatesResponse" />
  </wsdl:message>
  <wsdl:message name="IStateService_AddStates_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStates" />
  </wsdl:message>
  <wsdl:message name="IStateService_AddStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStatesResponse" />
  </wsdl:message>
  <wsdl:message name="IStateService_EditStates_InputMessage">
    <wsdl:part name="parameters" element="tns:EditStates" />
  </wsdl:message>
  <wsdl:message name="IStateService_EditStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditStatesResponse" />
  </wsdl:message>
  <wsdl:message name="IStateService_DeleteStates_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStates" />
  </wsdl:message>
  <wsdl:message name="IStateService_DeleteStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStatesResponse" />
  </wsdl:message>
  <wsdl:portType name="IStateService">
    <wsdl:operation name="GetStatesByLanguage">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/GetStatesByLanguage" message="tns:IStateService_GetStatesByLanguage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/GetStatesByLanguageResponse" message="tns:IStateService_GetStatesByLanguage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStates">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/GetStates" message="tns:IStateService_GetStates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/GetStatesResponse" message="tns:IStateService_GetStates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStates">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/AddStates" message="tns:IStateService_AddStates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/AddStatesResponse" message="tns:IStateService_AddStates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditStates">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/EditStates" message="tns:IStateService_EditStates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/EditStatesResponse" message="tns:IStateService_EditStates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStates">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/DeleteStates" message="tns:IStateService_DeleteStates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/DeleteStatesResponse" message="tns:IStateService_DeleteStates_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStateService" type="tns:IStateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatesByLanguage">
      <soap:operation soapAction="http://tempuri.org/IStateService/GetStatesByLanguage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStates">
      <soap:operation soapAction="http://tempuri.org/IStateService/GetStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStates">
      <soap:operation soapAction="http://tempuri.org/IStateService/AddStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditStates">
      <soap:operation soapAction="http://tempuri.org/IStateService/EditStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStates">
      <soap:operation soapAction="http://tempuri.org/IStateService/DeleteStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StateService">
    <wsdl:port name="BasicHttpBinding_IStateService" binding="tns:BasicHttpBinding_IStateService">
      <soap:address location="http://127.0.0.1/WCF/states.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>