SA.VisualizationSystem/Service References/StatesReference/states2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1/WCF/states.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StrategyServices.States" />
  <xs:import schemaLocation="http://127.0.0.1/WCF/states.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetStatesByLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="languageId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatesByLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StrategyServices.States" minOccurs="0" name="GetStatesByLanguageResult" nillable="true" type="q1:ArrayOfStateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StrategyServices.States" minOccurs="0" name="GetStatesResult" nillable="true" type="q2:ArrayOfStateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StrategyServices.States" minOccurs="0" name="statesList" nillable="true" type="q3:ArrayOfStateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStatesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StrategyServices.States" minOccurs="0" name="statesList" nillable="true" type="q4:ArrayOfStateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStatesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stateIds" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>